body,
h1,
h2,
h3,
p,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  line-height: 1.5;
}

h1,
h2 {
  color: #22a0dd;
  text-align: center;
  margin-bottom: 20px;
}
